.search-bar {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
  
.search-bar.fixed-top {
    margin-top: unset;
}

.margin-left--2 {
    margin-left: 2rem;
}

.rtg-button {
    margin-left: 12rem;
}

.react-datepicker-wrapper {
    display: block;
}