.leaflet-control .custom.custom-file {
  width: 0;
  top: -10px;
}

.custom.custom-file {
}

.leaflet-control .custom.custom-file .custom-file-input {
  height: 0;
}

#filter-dropdown {
  padding: 0;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-color: transparent;
  color: black;
}

.upload-file--previous-data {
  top: 0.5rem;
  left: 0.6rem;
  position: relative;
}

.filter-icon {
  position: relative;
  top: 0.5rem;
}

#filter-dropdown.dropdown-toggle::after {
  border-top: none;
  border-right: none;
}

.infected-list--map {
  margin-top: 2rem;
}

.leaflet-container {
  width: 100%;
  height: 80vh;
}

.leaflet-div-icon {
  background: none !important;
  border: none !important;
}

.report-problem {
  background-color: transparent;
  color: #721c24;
}

.red-icon {
  z-index: 999 !important;
}

.blue-icon {
  z-index: 9999 !important;
}
