.infected-list--map {
  .leaflet-control-container {
    .map-control--filters-right.leaflet-control {
      margin-top: 2rem;

      .filter-date--picker-wrapper {
        .filter-date--tooltip {
          opacity: 0.3;
        }
        .react-datepicker-wrapper {
          opacity: 0;
        }

        .react-datepicker-popper {
          .react-datepicker {
            position: absolute;
            top: -12rem;
            right: 1rem;

            .react-datepicker__triangle {
              display: none;
            }
          }
        }

        .filter-icon {
          top: -0.9rem;
        }
      }
    }
    .leaflet-top.leaflet-left {
      margin-top: 1rem !important;

      .map-control--filters-top {
        .filter-badge {
          background-color: #0A244E;
          font-size: small;
          opacity: 0.85;

          .date-filter--str {
            margin-left: 0.2rem;
          }
        }
      }
    }
  }
}
