.user-upload--modal {
  margin: 2rem 2rem 2rem 2rem;

  .google-takeout--img-wrapper {
    border-radius: 2rem;
    border-color: black;

    .google-takeout--img {
      width: 100%;
      height: 100vh;
    }
  }
}
