.app-tour {
  h2 {
    font-family: HoneywellSansWeb-Bold;
  }

  .app-tour--close {
    float: right;
    cursor: pointer;
    height: 20px;
  }

  .modal-dialog {
    margin-left: 8rem !important;

    .modal-content {
      background-clip: padding-box;
      border: none;
      border-radius: 0;
      background-color: #0a244e;
      opacity: 0.85;
      color: white;
      width: 20rem;

      .btn-light {
        font-weight: bold;
        font-size: smaller;
        text-transform: uppercase;
        border-radius: unset;
        padding: 0.4rem 1rem;
        margin-top: 1rem;
      }

      .btn-light.btn-close {
        margin-top: unset;
      }

      .modal-body {
        h2 {
          span {
            font-weight: bolder;
          }
        }

        .description {
          margin-top: 1rem;
          font-size: smaller;

          article {
            section p {
              font-size: 12px;
              font-family: HoneywellSansWeb-Bold;
            }
          }
        }

        .custom-file {
          position: unset;
          display: block;
          width: auto;
          height: unset;
          margin-bottom: 0;

          .custom-file-input {
            display: none;
          }
        }
      }
    }
  }
}
