@font-face {
  font-family: 'HoneywellSansWeb-Light';
  src: local('HoneywellSansWeb-Light'),
    url(/fonts/HoneywellSansWeb-Light.ttf) format('ttf');
}

@font-face {
  font-family: 'HoneywellSansWeb-Black';
  src: local('HoneywellSansWeb-Black'),
    url(/fonts/HoneywellSansWeb-Black.ttf) format('ttf');
}

@font-face {
  font-family: 'HoneywellSansWeb-BlackItalic';
  src: local('HoneywellSansWeb-BlackItalic'),
    url(/fonts/HoneywellSansWeb-BlackItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'HoneywellSansWeb-Bold';
  src: local('HoneywellSansWeb-Bold'),
    url(/fonts/HoneywellSansWeb-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'HoneywellSansWeb-BoldItalic';
  src: local('HoneywellSansWeb-BoldItalic'),
    url(/fonts/HoneywellSansWeb-BoldItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'HoneywellSansWeb-Book';
  src: local('HoneywellSansWeb-Book'),
    url(/fonts/HoneywellSansWeb-Book.ttf) format('ttf');
}

@font-face {
  font-family: 'HoneywellSansWeb-BookItalic';
  src: local('HoneywellSansWeb-BookItalic'),
    url(/fonts/HoneywellSansWeb-BookItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'HoneywellSansWeb-Extrabold';
  src: local('HoneywellSansWeb-Extrabold'),
    url(/fonts/HoneywellSansWeb-Extrabold.ttf) format('ttf');
}

@font-face {
  font-family: 'HoneywellSansWeb-ExtraboldItalic';
  src: local('HoneywellSansWeb-ExtraboldItalic'),
    url(/fonts/HoneywellSansWeb-ExtraboldItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'HoneywellSansWeb-LightItalic';
  src: local('HoneywellSansWeb-LightItalic'),
    url(/fonts/HoneywellSansWeb-LightItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'HoneywellSansWeb-Medium';
  src: local('HoneywellSansWeb-Medium'),
    url(/fonts/HoneywellSansWeb-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'HoneywellSansWeb-MediumItalic';
  src: local('HoneywellSansWeb-MediumItalic'),
    url(/fonts/HoneywellSansWeb-MediumItalic.ttf) format('ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'HoneywellSansWeb-Light', 'HoneywellSansWeb-Black',
    'HoneywellSansWeb-BlackItalic', 'HoneywellSansWeb-Bold',
    'HoneywellSansWeb-BoldItalic', 'HoneywellSansWeb-Book',
    'HoneywellSansWeb-BookItalic', 'HoneywellSansWeb-Extrabold',
    'HoneywellSansWeb-ExtraboldItalic', 'HoneywellSansWeb-LightItalic',
    'HoneywellSansWeb-Medium';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand-name h2 {
  font-family: HoneywellSansWeb-Bold;
  font-size: 19px;
  display: inline-block;
}

.pull-right {
  float: right;
}

.text-color--white {
  color: white;
}

.opacity-05 {
  opacity: 0.5;
}

.full-screen--exit:hover,
.full-screen:hover,
.upload-file--previous-data:hover,
.filter-icon:hover {
  cursor: pointer;
}

.display-block {
  display: block;
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.intersect {
  animation: focuses 1000ms;
  animation-iteration-count: infinite;
}

@keyframes focuses {
  0% {
    -webkit-box-shadow: 0 0 10px #022351;
    -moz-box-shadow: 0 0 10px #022351;
    box-shadow: 0 0 10px #022351;
  }
  50% {
    -webkit-box-shadow: 0 0 0 #022351;
    -moz-box-shadow: 0 0 0 #022351;
    box-shadow: 0 0 0 #022351;
  }
  100% {
    -webkit-box-shadow: 0 0 10px #022351;
    -moz-box-shadow: 0 0 10px #022351;
    box-shadow: 0 0 10px #022351;
  }
}

@keyframes shake {
  0% {
    transform: translate(3px, 3px) rotate(0deg);
  }
  10% {
    transform: translate(-3px, -4px) rotate(-3deg);
  }
  20% {
    transform: translate(-5px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(5px, 3px) rotate(0deg);
  }
  40% {
    transform: translate(3px, -3px) rotate(3deg);
  }
  50% {
    transform: translate(-3px, 3px) rotate(-3deg);
  }
  60% {
    transform: translate(-4px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(5px, 3px) rotate(-3deg);
  }
  80% {
    transform: translate(-2px, -2px) rotate(3deg);
  }
  90% {
    transform: translate(4px, 4px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -1px) rotate(-3deg);
  }
}

.navbar-nav .nav-item .padding-top-bottom--045 {
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  margin-right: 1em;
}

.line-height--none {
  line-height: 0;
}

.color-black {
  color: black;
}

.how-takout--works {
  margin: 0 auto;
  width: 100%;
}

.margin-top--2_5 {
  margin-top: 2.5rem;
}

.margin-top--0_5 {
  margin-top: 0.5rem;
}

.margin-top--1 {
  margin-top: 1rem;
}

.margin-top--1_5 {
  margin-top: 1.5rem;
}

.margin-left--7 {
  margin-left: 7rem;
}

.margin-left--0_5 {
  margin-left: 0.5rem;
}

.margin-left--5rem {
  margin-left: 5rem;
}

.max-width--100-imp {
  max-width: 100% !important;
}

#app-header {
  background-color: #0a244e !important;
}

.circle {
  height: 3rem;
  width: 3rem;
  background-color: #0a244e;
  border-radius: 50%;
  display: block;
  opacity: 85%;
}

.center {
  margin: auto;
}

.opacity-none {
  opacity: 0 !important;
}
