body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pull-right {
  float: right;
}

.text-color--white {
  color: white;
}

.opacity-05 {
  opacity: 0.5;
}

.full-screen--exit:hover,
.full-screen:hover,
.upload-file--previous-data:hover,
.filter-icon:hover {
  cursor: pointer;
}

.display-block {
  display: block;
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.intersect {
  animation: focuses 1000ms;
  animation-iteration-count: infinite;
}

@keyframes focuses {
  0% {
    -webkit-box-shadow: 0 0 10px #022351;
    -moz-box-shadow: 0 0 10px #022351;
    box-shadow: 0 0 10px #022351;
  }
  50% {
    -webkit-box-shadow: 0 0 0 #022351;
    -moz-box-shadow: 0 0 0 #022351;
    box-shadow: 0 0 0 #022351;
  }
  100% {
    -webkit-box-shadow: 0 0 10px #022351;
    -moz-box-shadow: 0 0 10px #022351;
    box-shadow: 0 0 10px #022351;
  }
}

@keyframes shake {
  0% {
    transform: translate(3px, 3px) rotate(0deg);
  }
  10% {
    transform: translate(-3px, -4px) rotate(-3deg);
  }
  20% {
    transform: translate(-5px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(5px, 3px) rotate(0deg);
  }
  40% {
    transform: translate(3px, -3px) rotate(3deg);
  }
  50% {
    transform: translate(-3px, 3px) rotate(-3deg);
  }
  60% {
    transform: translate(-4px, 2px) rotate(0deg);
  }
  70% {
    transform: translate(5px, 3px) rotate(-3deg);
  }
  80% {
    transform: translate(-2px, -2px) rotate(3deg);
  }
  90% {
    transform: translate(4px, 4px) rotate(0deg);
  }
  100% {
    transform: translate(2px, -1px) rotate(-3deg);
  }
}

.navbar-nav .nav-item .padding-top-bottom--045 {
  padding-top: 0.45rem;
  padding-bottom: 0.45rem;
  margin-right: 1em;
}

.line-height--none {
  line-height: 0;
}

.color-black {
  color: black;
}

.how-takout--works {
  margin: 0 auto;
  width: 100%;
}

.margin-top--2_5 {
  margin-top: 2.5rem;
}

.margin-top--0_5 {
  margin-top: 0.5rem;
}

.margin-top--1 {
  margin-top: 1rem;
}

.margin-top--1_5 {
  margin-top: 1.5rem;
}

.margin-left--7 {
  margin-left: 7rem;
}

.margin-left--0_5 {
  margin-left: 0.5rem;
}

.margin-left--5rem {
  margin-left: 5rem;
}

.max-width--100-imp {
  max-width: 100% !important;
}

#app-header {
  background-color: #0A244E !important;
}

.circle {
  height: 3rem;
  width: 3rem;
  background-color: #0A244E;
  border-radius: 50%;
  display: block;
  opacity: 0.85;
}

.center {
  margin: auto;
}
